@media screen and (max-width: 600px) {
  #features {
    padding: 20px;
    width: 100%;
  }
  #header{
    width: 102%;
  }
  #about{
    width: 104%;
  }
  #pom,
  #services,
  #team,
  #contact{
    width: 104%;
  }
  #testimonials{
    width: 100%;
  }

  #portfolio {
    width: 103%;
  }
}
