@media screen and (max-width: 600px) {
  .intro h1{
    font-size: 50px!important;
  }
  .intro p{
    font-size: 15px;
  }
  .btn-custom{
    margin-bottom: 10px;
  }
  #header{
    width: 111%;
  }
  #features {
    padding: 20px;
    width: 111%;
  }
  #about{
    width: 111%;
  }
  #pom,
  #services,
  #team,
  #contact{
    width: 111%;
  }
  #testimonials{
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
